@model MvcStudentGrade.Models.EntityFramework.TBLKULUPLER
@{
    ViewBag.Title = "KulupGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("KulupGuncelle", "Kulupler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KULUPAD)
        @Html.TextBoxFor(m => m.KULUPAD, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.KULUPID)
    <br />
    <div>
        <button class="btn btn-info">Güncelle</button>
    </div>
}

